.tree {
  position: absolute;
  top: 50%;
  right: 0;
  bottom: 0;
  border-top: 1px solid var(--gray-a6);
  width: 100%;
  background-color: var(--color-background);
}

.treeNodeContainer {
  --tree-node-height: 28px;

  position: relative;
  border-radius: 0 var(--radius-2) var(--radius-2) 0;

  // &::before {
  //   content: '';
  //   z-index: 1;
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   bottom: 0;
  //   width: 1px;
  //   background-color: var(--gray-4);
  //   pointer-events: none;
  // }

  &.hovered {
    background-color: var(--orange-3);
    // box-shadow: inset 0 0 0 1.5px var(--orange-9);

    &::before {
      background-color: var(--orange-9);
    }
  }

  @at-root :global(.dragging-node) &:hover {
    box-shadow: none;
  }

  &.selected {
    background-color: var(--blue-2);
    // box-shadow: inset 0 0 0 1.5px var(--blue-9);

    & > .treeNode {
      background-color: var(--blue-3);
      box-shadow: none;
    }

    &::before {
      background-color: var(--blue-9);
    }
  }
}

.treeNode {
  white-space: nowrap;
  height: var(--tree-node-height);

  &.hovered {
    // background-color: var(--orange-3);
    box-shadow: inset 0 0 0 1px var(--orange-9);
  }

  &.selected {
    background-color: var(--blue-3);
  }
}

.intervenedDropZoneWrapper {
  position: relative;
  pointer-events: none;
  height: 0px;

  @at-root :global(.dragging-node) & {
    pointer-events: auto;
  }

  .intervenedDropZone {
    position: absolute;
    top: 0;
    left: 8px;
    right: 0;
    height: 6px;
    transform: translateY(-50%);
    // background-color: var(--green-a3);
  }
}

.chevron {
  transition: transform 150ms;

  &.folded {
    transform: rotate(-90deg);
  }
}
