.tree {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100% - var(--drawer-height));
}

.treeNodeContainer {
  --tree-node-height: 28px;

  position: relative;
  border-radius: 0 var(--radius-2) var(--radius-2) 0;

  &::before {
    content: '';
    z-index: 1;
    position: absolute;
    // top: var(--tree-node-height);
    top: 0;
    // left: var(--space-3);
    left: 0;
    bottom: 0;
    width: 1px;
    background-color: var(--gray-4);
    pointer-events: none;
  }

  &.hovered {
    background-color: var(--orange-3);
    // box-shadow: inset 0 0 0 1.5px var(--orange-9);

    &::before {
      background-color: var(--orange-9);
    }
  }

  @at-root :global(.dragging-node) &:hover {
    box-shadow: none;
  }

  &.selected {
    background-color: var(--accent-3);
    // box-shadow: inset 0 0 0 1.5px var(--accent-9);

    &::before {
      background-color: var(--accent-9);
    }
  }
}

.treeNode {
  white-space: nowrap;
  height: var(--tree-node-height);
}

.previousDropZone {
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 6px;

  @at-root :global(.dragging-node) & {
    pointer-events: auto;
  }
}

.nextDropZone {
  pointer-events: none;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 6px;

  @at-root :global(.dragging-node) & {
    pointer-events: auto;
  }
}
