.drawer {
  position: absolute;
  top: 0;
  right: 280px;
  bottom: 0;
  background-color: #fff;
  z-index: 100;
  border-left: 1px solid var(--accent-a6);

  transform: translateX(100%);
  transition: transform 320ms cubic-bezier(0.37, 0.24, 0, 1);
  will-change: transform;

  &.open {
    transform: translateX(0);
  }
}

.resizer {
  z-index: 1;

  &:hover {
    cursor: ns-resize;

    .separator {
      background-color: var(--indigo-a9);
      height: 4px;

      transition:
        background-color 200ms ease,
        height 200ms ease;
      transition-delay: 200ms;
    }
  }

  @at-root :global(.resizing-drawer) & {
    .separator {
      background-color: var(--indigo-a9);
      height: 4px;
    }
  }
}
